%section
  %h2 Sign up
  = form_for @user, html: { class: "form-horizontal" } do |f|
    =errors_for(@user)
    %fieldset
      =render_text_field(f, :email)

      =render_text_field(f, :password) do
        - f.password_field :password, { class: "form-control" }

      =render_text_field(f, :password_confirmation, { label_text: "Confirm" }) do
        - f.password_field :password_confirmation, { class: "form-control" }


      = render_submit(f, "Login")