body {
	.btn-circle {
	  width: 25px;
	  height: 25px;
	  text-align: center;
	  padding: 4px 0 0px 1px;
	  font-size: 11px;
	  line-height: 1.428571429;
	  border-radius: 15px;
	}
	.form-group {
		.btn-circle {
		  margin-top: 3px;
		}
	}
	
	.contacts {
		ul.pagination {
			margin: 0 0 10px 0;
		}
		nav.contacts_ctl {
			height: 50px;
			#search_form {
				margin: 0 10px 0 0;
				.input-group-btn .btn {
					border-top-left-radius: 0;
					border-bottom-left-radius: 0;
					margin-left: -1px;
				}
			}
		}
		article.contact {
			header {
				position: relative;
				h2, h3 {
					margin-top: 0;
					width: 70%;
				}
				.ctrl {
					display: inline;
					position: absolute;
					right: 0px;
					top: 0px;
				}
			}
			address {
				h4 {
					font-size: 1.1em;
				}
				padding: 4px;
				margin: 0;
			}
			.label {
				color: $gray-darker;
				font-size: 1em;
			}
			.value {
				color: $gray-light;
				font-size: 1em;
				font-weight: 300;
			}
		}
	}
}