/* Header Styles */

body {
	> header {
		.navbar-header {
			h1 {
				margin: 0;
				a {
					color: $gray-darker;
				}
			}
			img {
				height: 20px;
				float: left;
				margin-right: 20px;
				margin-top: 13px;
			}
		}

		form {
			margin: 8px 15px 0 15px;
		}
	}
}
